---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="谜语"
	description="关于我，关于笑忘书"
	pubDate={new Date('August 08 2010')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		这里是我的谜语，这里是我的梦魇。<br/>
		这里没有完整的人。只有一些梦的碎片，情绪的残影，和一些说不清道不明的宿命感。<br/>
		我是一个身不由己的喜剧演员，习惯用荒诞消解疼痛，用玩笑面对深渊。<br/>
		我依然在自己的迷宫里，为自己雕刻墓志铭。<br/>
		如果你偶然路过，不必读懂。只需知道，曾有一个人在这里，试着回忆，试着和自己对话，试着在谜语之中，寻找一点点爱与生命。<br/>
	</p>
</Layout>
